<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <button @click="showMessage">글 보이기 및 가리기</button>
        <div v-if="seen">이제 나를 볼 수 있어요</div>
      </div>

      <div class="container">
        <button @click="bindingMessage">글 바인딩하기</button>
        <h4 v-bind:title="message" v-if="seen2">
          내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수
          있습니다!
        </h4>
      </div>

      <div class="container">
        <button @click="forTodos">Todo보여주기</button>
        <ol v-if="seen3">
          <li v-for="todo in todos">{{todo.text}}</li>
        </ol>
      </div>

      <div class="container">
        <button @click="showButton">글 뒤집기</button>
        <p v-if="seen4">{{message2}}</p>
        <button v-on:click="reverseMessage" v-if="seen4">메세지 뒤집기</button>
      </div>

      <div class="container">
        <button @click="componentButton">컴포넌트를 이용한 작성방법</button>
        <ol v-if="seen5">
          <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
          >
          </todo-item>
        </ol>
      </div>
    </div>
  </body>
  <script>
    Vue.component("todo-item", {
      props: ["todo"],
      template: "<li>{{todo.text}}</li>",
    });
    var app = new Vue({
      el: "#app",
      data: {
        seen: false,
        seen2: false,
        seen3: false,
        seen4: false,
        seen5: false,
        message: "이 페이지는 " + new Date() + " 에 로드 되었습니다",
        todos: [
          { text: "Javascript 배우기" },
          { text: "Vue 배우기" },
          { text: "무언가 멋진 것을 만들기" },
        ],
        message2: "안녕하세요! Vue.js!",
        groceryList: [
          { id: 0, text: "Vegetables" },
          { id: 1, text: "Cheese" },
          { id: 2, text: "Whatever else humans are supposed to eat" },
        ],
      },
      methods: {
        showMessage: function () {
          this.seen = !this.seen;
        },
        bindingMessage: function () {
          this.seen2 = !this.seen2;
        },
        forTodos() {
          this.seen3 = !this.seen3;
        },
        showButton() {
          this.seen4 = !this.seen4;
        },
        reverseMessage: function () {
          this.message2 = this.message2.split("").reverse("").join("");
        },
        componentButton() {
          this.seen5 = !this.seen5;
        },
      },
    });
  </script>
</html>
